<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>{{ product_name }} | {{ store_name }}</title>
  <meta name="description" content="{{ product_description }}">

  <!-- Open Graph / WhatsApp -->
  <meta property="og:title" content="{{ product_name }} | {{ store_name }}">
  <meta property="og:description" content="{{ product_description }}">
  <meta property="og:image" content="{{ product_image }}">
  <meta property="og:url" content="{{ full_url }}">
  <meta property="og:type" content="product">

  <!-- Redireciona pro Flutter -->
  <script>
    window.location.href = "/";
  </script>
</head>
<body>

</body>
</html>
